server {
    listen 80;
    server_name __DOMAIN__;

    location = / {
        return 301 /vnc.html?autoconnect=true&resize=remote&reconnect=true;
    }

    location /docs { proxy_pass http://127.0.0.1:8000; include /etc/nginx/proxy_params; }
    location /openapi.json { proxy_pass http://127.0.0.1:8000; include /etc/nginx/proxy_params; }
    location /redoc { proxy_pass http://127.0.0.1:8000; include /etc/nginx/proxy_params; }
    location /api/ { proxy_pass http://127.0.0.1:8000; include /etc/nginx/proxy_params; }

    location / {
        proxy_pass http://127.0.0.1:8080/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }
}
